* {
box-sizing: border-box;
}

body {
    background-color: white;
}



.card-container {
    text-align: center;
    margin: 20px auto;
    border: 4px solid black;
    height: 500px;
    width: 300px;
    
    position: relative;
    z-index: 2;
    
    left: 100px;
    top: 100px;
}

.image-container {
    height: 500px;
    width: 299px;
    background-image: url(../links/watercolor1.jpg);
    
    position: relative;
    z-index: 1;
    
    top: -420px;
    left: 394px;
    
    animation-name: animation1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction:normal;
    animation-iteration-count: 1;
}




h1 {
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    
    margin-top: 60px;
}

hr {
    width: 40px;
}

h2 {
     font-family:"SignPainter";
     font-size: 25px;
     font-weight: 100;
}

.second {
    margin-top: 55px;
}

h3 {
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

p {
    font-family: "Helvetica";
    font-weight: 100;
    margin-top: -15px;
}

a {
    text-decoration: none;
    
}

a:hover {
    color: deeppink;
    font-size: 15px;
    font-weight: 500;
}


@keyframes animation1 {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 100;
    }
    
    100% {
        opacity: 0.1;
    }
    
}
